* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: inline;
}

.navbar ul {
    margin-bottom: 15px;
}

.navbar ul li {
    list-style-type: none;
    display: inline-block;
    margin-top: 25px;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    padding: 20px;
    font-size: 30px;
}

.logo img{
    width: 20%;
    float: left;
}